* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.App {
  font-family: sans-serif;
}
:root {
  --primarycolor: black;
  --secondarycolor: whitesmoke;
  --navbarcolor: grey;
}
.home-img {
  height: auto;
  max-width: 100%;
  width: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
}
.nav-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondarycolor);
  padding: 0.5rem;
  max-width: 100%;
  margin-top: auto;
}
a {
  text-decoration: none;
  color: var(--primarycolor);
  padding: 0.5rem;
}
.nav-bar a:hover {
  color: var(--secondarycolor);
  background-color: var(--primarycolor);
}
.search-box {
  border-style: none;
  height: 1.3rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}
.product-img {
  height: 14rem;
  max-width: 100%;
}
.card {
  border: solid var(--primarycolor) 1px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  height: auto;
  width: 12rem;
}
.card-div {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}
.primary-btn {
  color: var(--secondarycolor);
  background-color: var(--primarycolor);
  padding: 10px;
  border-style: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: 10px;
}
.secondary-btn {
  color: var(--primaryarycolor);
  border: 1px solid var(--primarycolor);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--secondarycolor);
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 10px;
}

.secondary-btn:hover {
  background-color: var(--primarycolor);
  color: var(--secondarycolor);
}
.category-card {
  margin: 2rem;
  border: 6px solid grey;
}
.card-data {
  margin: 0.8rem;
}
fieldset{
  padding: 1rem;
  margin: 0.5rem;
}
.filter-label{
  padding: 0.5rem;
}
.filter-input{
  margin: 0.2rem;
}
.category-div {
  display: flex;
  list-style: none;
}